
/* .App {
  text-align: center;
  padding-left: 350px;
  padding-top: 50px;
} */

.center_form{
  background-color: rgb(206, 203, 233);
 
}

.form-control {
  width: 150%;
}
.center_form {
  display: grid;
    justify-content: center;  /* Align in the center */
    /* width: 600px; */
    padding: 20px;
}

h1.head_singnup {
  text-align: center;
  color: blue;
}

.error{
  color:red;
}